body
{
	color: white;
	background-image:url(ba.gif);
	background-size: cover;
	font-family: "lato" ;
	font-size: 150% ;
	line-height: 50px;

}
#pro h2:hover
{
	text-decoration:underline; 
	color:yellow;
}
ul
{
	padding: 0;
	list-style: none;
	display:inline-block;
	margin: 20px;
}
li:first-child :hover
{
	height: 30px;
	width:  150px;
	color: green;
}

.inactive
{
	display: block;
	background: #000000;
}